<html>
<head>
  <title>My Homepage</title>
</head>
<body>
  <h1>Welcome to the About page</h1>
   <%= link_to 'Home', root_path %> 
  <p>Hello, my name is Pablo and this is my blog for all things Miami sports (ie: Miami Hurricanes for CFB....FSUers and UFers get out!)</p>
</body>
</html>
